In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.listdir('safety/features/')

['part-00001-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 '.DS_Store',
 'part-00000-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00003-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00002-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00005-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00009-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00004-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00008-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00007-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv',
 'part-00006-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv']

In [3]:
df_master = pd.DataFrame(columns=['bookingID', 'Accuracy', 'Bearing', 'acceleration_x', 'acceleration_y',
       'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z', 'second', 'Speed'])

In [4]:
for file in os.listdir('safety/features/'):
    try:
        df_temp = pd.read_csv("safety/features/{}".format(file))
        print(file)
        df_master = pd.concat([df_master, df_temp])
    except:
        pass

part-00001-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
.DS_Store

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

part-00000-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00003-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00002-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00005-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00009-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00004-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00008-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00007-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv
part-00006-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv

In [ ]:
pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],ignore_index=True)

In [8]:
df_master.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
df_label= pd.read_csv('safety/labels/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv')

In [16]:
df_label= df_label.set_index('bookingID')

In [17]:
df_label

               label
bookingID
111669149733       0
335007449205       1
171798691856       0
1520418422900      0
798863917116       0
283467841567       0
231928234141       0
188978561143       0
1194000908346      0
274877906944       1
1099511627969      0
970662609018       0
463856467983       0
1357209665706      1
335007449091       0
541165879318       0
1649267441739      0
1571958030499      0
1675037245443      0
841813590179       1
1700807049377      1
1417339207762      0
335007449265       0
137438953500       0
1657857376302      0
798863917231       0
893353197579       0
60129542163        0
584115552303       0
678604832930       1
...              ...
463856468105       0
876173328528       1
18                 1
42949673080        0
231928233989       1
738734374949       1
300647710771       0
1503238553671      1
180388626448       0
1065151889534      1
661424963641       1
146028888192       0
1288490188821      0
773094113323       0
755914244202       0
249108103207       0
1039382085748      1
979252543556       0
1022202216564      0
197568495694       0
154618822673       0
541165879450       0
231928234043       0
154618822667       0
558345748558       0
429496729754       0
154618822713       0
979252543488       0
1657857376309      0
558345748643       1

[20018 rows x 1 columns]

In [12]:
len(df_master['bookingID'].unique())

20000

In [11]:
df_master.shape

(16135561, 11)

In [18]:
df_master = df_master.join(df_label, on='bookingID')

In [20]:
df_master.to_csv('safety/merged_data.csv')

In [ ]:
df2= pd.read_csv('safety/features/part-00003-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv')

In [13]:
len(df_label['bookingID'].unique())

20000

In [ ]:
df

In [ ]:
pd.concat([df_master,df2])

In [ ]:
df_master